*{
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in;
}
:root{
    --darkg:#0a1f1c;
    --bg: #16423c;
    --bg2: #255a46;
    --Text: #c4dad2;
    --white: #ffff;
    --textHover: #185742;
    --hf-bg: #2d816f;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--darkg);
    padding-top: 50px;
    min-height: 100vh;
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--darkg);
    padding: 10px;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 33px;
}


header .logo a{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--Text);
    margin: 4px 0px 0px 20px;
    text-decoration: none;
}
.toggle{
    display: none;
    position: absolute;
    right: 10px;
}
.toggle div{
    background-color: var(--Text);
    padding: 5px;
    margin: 4px;
    width: 45px;
    border-radius: 4px;
}
.toggle div:hover{
    background-color: var(--textHover);
}
.nav {
    display: grid; 
    grid-auto-flow: column; 
    position: absolute;
    top: 15px;
    right: 13px;
    text-align: end;
    z-index: 2000;
}

.nav a{
    font-size: 1.3rem;
    margin: 0 6px;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    color: var(--Text);
}
.nav a:hover{
    color: var(--textHover);
}
.nav a:focus{
    color: #E5D9F2;
}
.nav a:active{
    color: var(--Text);
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    header .logo a{
        font-size: 1.2rem;
        position: absolute;
    }
    header{
        height: 45px;
    }
    /* .navbar{
        background-color: var(--hf-bg);
    } */
    .nav {
        display: grid;
        grid-auto-flow: row; 
        position: absolute;
        top: 60px;
        right: 13px;
        text-align: end;
        z-index: 2000;
    }
    
    .nav a{
        font-size: 1.5rem;
        border: 1px solid #16423C;
        color: var(--bg);
        margin: 4px 0px;
        padding: 6px 8px;
        background-color: var(--Text);
    }
    .nav a:hover{
        color: var(--hf-bg);
        background-color: var(--bg);
    }
    .toggle{
        display: block;
    }

}
main{
    min-height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fade-in{
    animation: fadeIn 1.5s ease-in;
}
.hero {
    min-height: 100vh;
    display: grid; 
    place-items: center;
    text-align: center;
    color: var(--Text);
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    background-color: var(--darkg);
}


.hero-content {
    max-width: 800px;
}
.cv-dwn{
    position: absolute;
    top: 30px;
    right: 20px;
    color: var(--Text);
    outline: 1px solid var(--Text);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: 0.1s;
}
.cv-dwn:hover{
    outline: 1px solid var(--textHover);
    color: var(--textHover);
    transition: 0.1s;
}
.social-icons {
    display: grid; 
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    grid-auto-flow: column; 
    gap: 15px;
    margin-top: 20px;
}

  
  .social-icons a {
    color: var(--Text); 
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .social-icons a:hover {
    color: var(--textHover);
    transform: scale(1.1); 
  }
  
  .social-icons i {
    display: inline-block;
  }
@media only screen and (max-width: 859px) and (orientation: landscape){
    .social-icons {
        bottom: -7%;
        right: 20px;
    }

}

.hero-content h1 {
    font-size: clamp(4rem, 6vw, 16rem);
    margin-bottom: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.hero-content h4{
    color: #16423c15;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: clamp(4rem, 6vw, 12rem);
} 
.hero p {
    font-size: 1.6rem;
    margin-bottom: 35px;
    color: var(--white);
}
  
.btn {
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--textHover);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
  
.btn:hover {
    background-color: var(--hf-bg);
    color: var(--Text);
    transition: all 0.3s ease-in;
}
.btn:active{
    outline: 1px solid var(--Text);
}

#scroll-up-btn {
    text-align: center;
    position: fixed;
    bottom: 55px;
    right: 20px;
    padding: 10px 15px;
    font-size: 2rem;
    background-color: var(--white);
    color: var(--darkg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-weight: 900;
}
#scroll-up-btn:hover {
    background-color: var(--hf-bg);
    color:var(--white);
}


@media only screen and (max-width: 339px){
    .social-icons {
        bottom: -5%;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
}
@media  only screen and (max-width: 768px){
    #scroll-up-btn {
        padding: 8px 12px;
        font-size: 2rem;
        bottom: 55px;
        right: 15px;
    }
    .about-content h1 {
        padding-top: 50px;
    }
    .about-content h1 {
        margin-top: 20px;
    }
    .hero-content h4{
        font-size: clamp(3rem, 6vw, 9rem);
    }
}
.about-section {
    min-height: 100vh;
    display: grid; 
    place-items: center; 
    text-align: center;
    background-color: var(--primary-bg-color);
    color: #fff;
    padding: 0 20px;
}

.about-content {
    max-width: 900px;
}
  
.about-content h1 {
    font-size: clamp(3rem, 6vw, 8rem);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 800;
    color: var(--Text);
}
.about-content h4{
    color: #16423c15;
    position: absolute;
    top:400px;
    left: 10px;
    font-size: clamp(4rem, 6vw, 12rem);
}
.about-content h5{
    color: #16423c15;
    height: 0px;
    position: relative;
    bottom: 300px;
    left: 10px;
    font-size: clamp(4rem, 10vw, 20rem);
}
.about-content .intro {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--Text);
}
  
.about-content .about-bio {
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--Text);
}



.skills-section {
    min-height: 100vh;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}
  
.skills-content {
    width: 100%;
}
.skills-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-grid h4{
    color: #16423c0c;
    position: absolute;
    top:1500px;
    width: 0;
    left: 50%;
    font-size: clamp(6rem, 9vw, 20rem);
}
@media only screen and (max-width: 768px){
    .skills-grid h4{
        left:100px;
    }
}
.skills-content h2{
    font-size: clamp(2rem, 4vw, 6rem);
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--Text); 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
  
.skill-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
    margin:20px 10px;
    background-color: var(--white);
    padding: 20px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.skill-category h3{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--bg2);
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.skill-category ul {
    display: grid; 
    grid-auto-flow: row; 
    list-style: none;
    padding: 0;
}

  
.skill-category ul li {
    font-size: 1.3rem;
    color: var(--bg2);
    margin: 5px;
    display: grid; 
    place-items: left;
    align-content: center;
}

  
.skill-category ul li i{
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--bg2);
}



.portfolio-section{
    padding: 50px 20px;
    text-align: center;
}
  
.portfolio-content{
    max-width: 1200px;
    margin: 100px auto;
}
  
.portfolio-content h2{
    font-size: clamp(2rem, 4vw, 6rem);
    margin-bottom: 40px;
    color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
  
@media only screen and (max-width: 768px){
    .portfolio-content h2{
      padding-top: -80px;
    }
}
  
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}
  
.portfolio-item{
    position: relative;
    background-color: none;
    box-shadow: 0px 5px 15px rgba(66, 66, 66, 0.1);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}
  
.portfolio-item:hover{
    transform: translateY(-10px);
}

.portfolio-img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.portfolio-item:hover .portfolio-img{
    opacity: 1;
}
/* @media only screen and (min-width: 768px){
    .portfolio-item:hover .portfolio-img {
    transform: scaleX(1.1);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    }
}
     */
  
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--Text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}
  
.portfolio-item:hover .overlay{
    opacity: 0;
}
  
.portfolio-item h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--Text);
}
  
.portfolio-item p{
    font-size: 1.5rem;
    color: var(--Text);
    line-height: 1.2;
    margin-bottom: 5px;
}
  
/* .view-btn{
    padding: 2px 6px;
    color: var(--white);
    background-color: var(--hf-bg);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease; //I'll USE IT LATER WHEN AM READY FOR PEOPLE TO VIEW MY PROJECTS
}
  
.view-btn:hover{
    background-color: var(--textHover);
    color: var(--Text);
    outline: 1px solid var(--Text);
    transition: all 0.3s ease-in;
} */
  
@media only screen and (max-width: 339px){
    .portfolio-item{
        display: block;
        margin: 0 auto;
        max-width: 270px;
    }
    .portfolio-img {
        width: 300px;
    }
    .portfolio-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.contact-section {
    padding: 50px 20px;
    background-color: var(--darkg);
    color: var(--bg2);
    text-align: center;
    min-height: 70vh;
}

.contact-content h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    margin-bottom: 30px;
    color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.contact-content p{
    font-size: 1.6rem;
}
.contact-methods {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contact-methods a {
    color: var(--Text);
    text-decoration: none;
    margin-left: 10px;
}
.row-up{
    display: flex;
}
.row-up p{
    margin: 0px 10px;
}
.row-up p i{
    font-size: 3rem;
}
.contact-methods a:hover {
    color: var(--textHover);
}

.contact-form {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.form-group input,
.form-group textarea {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    border: 1px solid var(--Text);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--white);
}

.submit-btn {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--textHover);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--hf-bg);
}


footer{
    background-color: var(--darkg);
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    z-index: 10;
    margin-bottom: 0px;
}
footer p{
    margin: 5px 0;
    font-size: 1.1rem;
    color: var(--Text);
}
@media only screen and (max-width: 415px){
    .contact-section, .portfolio-section{
        min-height: 95vh;
    }    
}

