*{
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in;
}
:root{
    --bg: #d3e0cf;
    --bg2: #A594F9;
    --Text: #16423C;
    --white: #ffff;
    --textHover: #a6c05f;
    --hf-bg: #d5e5d4;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    padding-top: 50px;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--hf-bg);
    padding: 10px;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

header .logo a{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--Text);
    margin: 4px 0px 0px 20px;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    header .logo a{
        font-size: 1.1rem;
        position: absolute;
    }

}
.nav{
    display: flex;
    flex-direction: row;
}
.nav a{
    font-size: 1.3rem;
    margin: 0 6px;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    color: var(--Text);
}
.nav a:hover{
    color: var(--textHover);
}
.nav a:focus{
    color: #E5D9F2;
}
.nav a:active{
    color: var(--Text);
    text-decoration: underline;
}


main{
    min-height: 100vh;
}



.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--Text);
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
}

.hero-content {
    max-width: 800px;
}
  
.hero-content h1 {
    font-size: clamp(4rem, 6vw, 16rem);
    margin-bottom: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.hero-content h4{
    color: #16423c15;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: clamp(4rem, 6vw, 12rem);
} 
.hero p {
    font-size: 1.3rem;
    margin-bottom: 35px;
    color: var(--Text);
}
  
.btn {
    padding: 10px 25px;
    color: var(--white);
    background-color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
    background-color: var(--textHover);
    color: var(--Text);
    outline: 1px solid var(--Text);
    transition: all 0.3s ease-in;
}
@media  only screen and (max-width: 768px){
    .about-content h1 {
        padding-top: 50px;
    }
    
}
.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-bg-color);
    color: #fff;
    padding: 0 20px;
}
  
.about-content {
    max-width: 800px;
}
  
.about-content h1 {
    font-size: clamp(3rem, 6vw, 9rem);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 800;
    color: var(--Text);
}
.about-content h4{
    color: #16423c15;
    position: absolute;
    top:400px;
    left: 10px;
    font-size: clamp(4rem, 6vw, 12rem);
}
.about-content h5{
    color: #16423c15;
    height: 0px;
    position: relative;
    bottom: 300px;
    left: 10px;
    font-size: clamp(4rem, 10vw, 20rem);
}
.about-content .intro {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--Text);
}
  
.about-content .about-bio {
    font-size: 1.2rem;
    line-height: 1.7;
    color: var(--Text);
}



.skills-section {
    min-height: 100vh;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}
  
.skills-content {
    width: 100%;
}
.skills-grid h4{
    color: #16423c0c;
    position: absolute;
    top:1500px;
    left: 50%;
    font-size: clamp(6rem, 9vw, 20rem);
}
@media only screen and (max-width: 768px){
    .skills-grid h4{
        left:100px;
    }
}
.skills-content h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--Text); 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
  
.skill-category {
    margin-bottom: 40px;
}
  
.skill-category h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.skill-category ul{
    display: flex;
    list-style: none;
    padding: 0;
}
  
.skill-category ul li{
    font-size: 1.2rem;
    color: var(--Text);
    margin: 5px;
    display: flex;
    align-items: center;
}
  
.skill-category ul li i{
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--Text);
}



.portfolio-section {
    padding: 10px 20px;
    text-align: center;
}
  
.portfolio-content {
    max-width: 1200px;
    margin: 100px auto;
}
  
.portfolio-content h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    margin-bottom: 40px;
    color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
@media  only screen and (max-width: 768px){
    .portfolio-content h2 {
        padding-top: -80px;
    }
} 
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}
  
.portfolio-item {
    background-color: var(--hf-bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}
  
.portfolio-img {
    width: 100%;
    max-width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
  
.portfolio-item h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--Text);
}
  
.portfolio-item p {
    font-size: 1.1rem;
    color: var(--Text);
    line-height: 1.2;
    margin-bottom: 5px;
}
.view-btn{
    padding: 2px 6px;
    color: var(--white);
    background-color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;   
}

.view-btn:hover {
    background-color: var(--textHover);
    color: var(--Text);
    outline: 1px solid var(--Text);
    transition: all 0.3s ease-in;
}


.contact-section {
    padding: 30px 20px;
    background-color: var(--bg);
    color: var(--Text);
    text-align: center;
}

.contact-content h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    margin-bottom: 20px;
    color: var(--Text);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.contact-content h4{
    font-size: clamp(2rem, 4vw, 6rem);
    margin-bottom: 20px;
}
.contact-methods {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contact-methods a {
    color: var(--Text);
    text-decoration: none;
    margin-left: 10px;
}
.row-up{
    display: flex;
}
.row-up p i{
    font-size: 3rem;
}
.contact-methods a:hover {
    color: var(--textHover);
}
.bundle-up{
    display: flex;
    place-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 768px){
    .bundle-up{
        flex-direction: column-reverse;
    }
    .contact-content h4{
        padding-top: 40px;
    }
    .contact-content h2 {
        padding-top: 30px;
    }
}
.contact-form {
    max-width: 600px;
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--Text);
}

.form-group input,
.form-group textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--Text);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--Text);
    background-color: var(--white);
}

.submit-btn {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--Text);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--textHover);
}


footer{
    background-color: var(--hf-bg);
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    z-index: 10;
    margin-bottom: 0px;
}
footer p{
    margin: 5px 0;
    font-size: 1.08rem;
    color: var(--Text);
}
